# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.project
.settings/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
